@charset 'utf-8';

body{
    margin: 0px;
}
#topMenu{
    display: flex;
    background-color: rgb(49, 49, 49);
    margin: 0px;

}
#topMenu li{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    
}
#topMenu li:first-child{
    margin-right: auto;
}
.sect1{
    display: flex;
    height: 33vh;
    background-color: rgba(128, 128, 128, 0.459);
}
.centralize {
    margin: auto;
    text-align: center;
}

.sect2{
    display: flex;
    background-color: white;
    width: 33vh;
}

